@import './variables';
@import './fonts';

* {
  background: rgb(4 12 24 / 100%);
}

.gradient-tex {
  background: $gradient-text;
  font-family: $font-family;
  font-size: 62px;
  line-height: 75px;
  font-weight: 800;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
}

.container-bac {
  background: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.image {
  width: 80px;
  height: 80px;
  margin: 10px;
  background: none;
}

.image-animation {
  animation: 3s rotate linear infinite;
}

.input-html {
  background-color: white;
}
